.layui-tab-title li:first-child > i {
    display: none;
}

.layadmin-iframe {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0.5rem;
}

.fontSize-span {
    background: blue linear-gradient(to left, transparent, #fff, transparent) no-repeat 0 0;
    background-size: 10% 100%;
    background-position: 0 0;
    font-size: 50px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 2s infinite;
}
@keyframes shine {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}