<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>杰杰BUFF-出售记录</title>
    <!-- vue -->
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <!-- jquery -->
    <script src="js/jquery.min.js"></script>
    <!-- element-ui -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<style>

    .grid-blank {
        min-height: 36px;
        margin: 0px;
        padding: 0px;
        background: white;
        filter: opacity(0%);
    }
    .grid{
        min-height: 36px;
    }
    .login{
        float: right;
        color: white;
    }


    .el-input{
        height:32px;
        padding: 0px 10px 0px 9px;

    }

    .grid-content {
        min-height: 36px;
        margin: 0px;
        padding: 0px;
        background: white;
        filter: opacity(0%);
    }
    .grid-blank {
        min-height: 36px;
        margin: 0px;
        padding: 0px;
        background: white;
        filter: opacity(0%);
    }

    .input-with-select{
        background-color: #fff;
    }
</style>
<body>
<div id="app" style="background-image:url(img.png);background-size: cover; width: 100%;">
    <el-row>
        <el-col :span="3"><div class="grid-blank" style="background-color:rgba(0,0,0,0);"></div></el-col>
        <el-col :span="18">
            <div  style="min-width: 1100px;max-width: 1100px">
            <div style="float: left;padding-top: 20px">
                <img src="https://buff.163.com/static/images/site/logo.png">
            </div>
            <el-menu
                    :default-active="activeIndex"
                    class="el-menu-demo"
                    mode="horizontal"
                    @select="handleSelect"
                    background-color="rgba(0,0,0,0)"
                    text-color="#fff"
                    active-text-color="#4886ff"
                    hover-color="rgba(0,0,0,0.2)">
                <el-menu-item index="1">首页</el-menu-item>
                <el-menu-item index="2">饰品市场</el-menu-item>
                <el-menu-item index="3">游戏资讯</el-menu-item>

                    <div class="login" style="padding: 20px ">登录/注册</div>
                    <h3  class="login" >CS-GO</h3 >
                <el-menu-item :v-if="te" style="float: right" index="4">求购</el-menu-item>
                <el-menu-item :v-if="te" style="float: right" index="5">出售</el-menu-item>
                <el-menu-item :v-if="te" style="float: right" index="6">库存</el-menu-item>
            </el-menu>
            </div>
        </el-col>
        <el-col :span="3"><div class="grid-blank" style="background-color:rgba(0,0,0,0);"></div></el-col>
    </el-row>


    <el-row style="padding-top: 24px">
        <el-col :span="3"><div class="grid-blank" style="background-color:rgba(0,0,0,0);"></div></el-col>
    <el-col :span="18" style="background-color:#282727FF">
        <div style="min-width: 1100px;max-width: 1100px">
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"
                 background-color="#282727FF" text-color="#90969C" active-text-color="#FFFFFF">
            <el-menu-item index="1">自售管理</el-menu-item>
            <el-menu-item index="2">正在寄售</el-menu-item>
            <el-menu-item index="3">出售记录</el-menu-item>
            <el-menu-item index="4">出售统计</el-menu-item>
            <el-menu-item index="5">还价管理</el-menu-item>
        </el-menu>
        <el-select v-for="s in 4"  class="el-input" style="padding: 10px 10px 10px;width: 100px" v-model="value" placeholder="请选择">
            <el-option

                    v-for="item in options"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>
        <div style="float: right;padding: 10px 30px 10px;width: 330px">
            <el-input placeholder="请输入内容" v-model="input3" class="input-with-select">
                <el-button slot="append" icon="el-icon-search" plain></el-button>
            </el-input>
        </div>
        </div>
    </el-col>
        <el-col :span="3"><div class="grid-blank" style="background-color:rgba(0,0,0,0);"></div></el-col>
    </el-row>

    <el-row style="padding-top:34px ">
        <el-col :span="3">
            <div class="grid-content "></div>
        </el-col>
        <!--出售-->
        <el-col :span="18">
            <div  style="min-width: 1100px;max-width: 1100px">
            <!-- 出售模块表格-->
            <template>
                <el-table :data="tableSellData" style="width: 100%">
                    <el-table-column label="饰品" prop="sell_id">
                    </el-table-column>
                    <el-table-column label="售价" prop="of_price">
                    </el-table-column>
                    <el-table-column label="买家" prop="user_id">
                    </el-table-column>
                    <el-table-column label="时间" prop="of_time">
                    </el-table-column>
                    <el-table-column label="状态" prop="of_state">
                    </el-table-column>
                </el-table>
                <!-- 表格分页 -->
                <!-- pager-count pager-count属性可以设置最大页码按钮数,超出折叠,默认为7-->
                <!-- 注意：若数据是后端接口返回的则此时:total="pageCount"-->
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                               :pager-count="7" :current-page="currentPage" :page-sizes="[1, 3, 5, 10]" :page-size="pagesize"
                               layout="total, sizes, prev, pager, next, jumper" :total="pageCount" background
                               style="padding-top: 45px; height: 55px;background-color: white">
                </el-pagination>
                </div>
            </template>
        </el-col>
        <el-col :span="3">
            <div class="grid-content "></div>
        </el-col>
    </el-row>
</div>
</body>
</html>
<script>
    var vue=new Vue({
        el:"#app",
        data(){
            return{
                activeIndex: '1',
                te:true,
                input3: '',
                currentPage: 1, //默认初始页
                pagesize: 10, //每页默认显示的数据
                pageCount: 0, //出售数据的总条数,如果数据是后端接口返回的，则此值需修改
                options: [{
                    value: '选项1',
                    label: '黄金糕'
                }, {
                    value: '选项2',
                    label: '双皮奶'
                }, {
                    value: '选项3',
                    label: '蚵仔煎'
                }, {
                    value: '选项4',
                    label: '龙须面'
                }, {
                    value: '选项5',
                    label: '北京烤鸭'
                }],
                tableSellData:[{of_id :1,of_price:22.3,of_time:"2023-7-4",of_state:1,tradeoffer_id:666,user_id:5,sell_id:4}]
            }
        },
        methods:{
            //改变每页容纳的数据量
            handleSizeChange: function(size) {
                this.pagesize = size;
                getSell(this)
            },
            //切换页码
            handleCurrentChange: function(currentPage) {
                this.currentPage = currentPage;
                getSell(this)
            },
            handleEdit(index, row) {
                console.log(index, row);
            },
    }
    })
</script>